#mapid {
    height: 100vh;
}

body,
html {
    display: grid;
    margin: 0px;
}

body>div {
    grid-row: 1;
    grid-column: 1;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    margin-bottom: 0.2rem;
    width: 18rem;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #c2c2c2;
    display: block;
    color: #666666;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

button:active {
    position: relative;
    top: 1px;
}

input {
    width: 97%;
    height: 1.3rem;
}

.error {
    border-color: red;
    color: red;
}

